language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

sudo: false

cache:
  directories:
    - $HOME/wheelhouse

install:
  - pip wheel --find-links=$HOME/wheelhouse -r requirements.txt --wheel-dir=$HOME/wheelhouse
  - pip install --no-index --find-links=$HOME/wheelhouse -r requirements.txt

script:
  - coverage run $(which py.test) fuselage
  - flake8 fuselage

after_success:
  - coveralls

notifications:
    irc:
        channels:
          - "irc.oftc.net#yaybu"
        use_notice: true
        skip_join: true
        on_success: change
        on_failure: always
